ENV=local
HOST=0.0.0.0
PORT=8080

ALLOWED_ORIGINS=*

APP_NAME=gotick-api
APP_VERSION=0.0.0

LOG_LEVEL=info
LOG_FORMAT=json
LOG_ENABLE_CLOUD_LOGGING=false

DB_HOST=127.0.0.1
DB_USER=developer
DB_PASSWORD=P@ssw0rd
DB_NAME=gotick
DB_SSL_MODE=disable
DB_SHOW_SQL=true

GOOGLE_CLOUD_PROJECT=demo-local-project
FIREBASE_AUTH_EMULATOR_HOST=localhost:9099
