openapi: 3.1.0
info:
  title: Go Ticket API
  version: 1.0.0
servers:
  - url: https://api.gotick.nguyenhaminhtuan.org/v1
    description: Production Server
  - url: https://api.dev.gotick.nguyenhaminhtuan.org/v1
    description: Development Server
  - url: http://127.0.0.1:8080/v1
    description: Local Server
security:
  - bearerAuth: []
tags:
  - name: Public Events
    x-displayName: Events
    description: Published events browsable without authentication.
  - name: Public Occurrences
    x-displayName: Occurrences
    description: Scheduled showings of a published event.
  - name: Public Ticket Categories
    x-displayName: Ticket Categories
    description: Ticket types on sale for an occurrence.
  - name: Public Sale Phases
    x-displayName: Sale Phases
    description: Selling windows that gate an occurrence's ticket sales.
  - name: Public Organizers
    x-displayName: Organizers
    description: Public profiles of the organizers running events.
  - name: Public Cities
    x-displayName: Cities
    description: Reference list of cities events can be held in.
  - name: Public Categories
    x-displayName: Categories
    description: Reference list of categories events are classified under.
  - name: Onboarding
    x-displayName: Onboarding
    description: Turning a verified identity into a gotick user.
  - name: My Profile
    x-displayName: Profile
    description: The authenticated user's own profile.
  - name: My Tickets
    x-displayName: Tickets
    description: Tickets owned by the authenticated user.
  - name: My Orders
    x-displayName: Orders
    description: Orders placed by the authenticated user.
  - name: My Organizer Applications
    x-displayName: Organizer Applications
    description: The authenticated user's requests to become an organizer.
  - name: My Organizers
    x-displayName: Organizers
    description: The organizers the authenticated user can act for.
  - name: Organizer Roles
    x-displayName: Roles
    description: Roles an organizer defines, and the permissions each grants.
  - name: Organizer Members
    x-displayName: Members
    description: People who can act on behalf of an organizer.
  - name: Organizer Events
    x-displayName: Events
    description: Events managed by the caller's organizer, including publishing.
  - name: Organizer Occurrences
    x-displayName: Occurrences
    description: Scheduling and rescheduling of an event's occurrences.
  - name: Organizer Ticket Categories
    x-displayName: Ticket Categories
    description: Ticket types and pricing for an occurrence.
  - name: Organizer Sale Phases
    x-displayName: Sale Phases
    description: Selling windows and their lifecycle transitions.
  - name: Admin Users
    x-displayName: Users
    description: Everyone registered on the platform, and the role each holds.
  - name: Admin Organizer Applications
    x-displayName: Organizer Applications
    description: Review queue for users applying to become organizers.
  - name: Admin Organizers
    x-displayName: Organizers
    description: Oversight of the organizers on the platform.
  - name: Admin Cities
    x-displayName: Cities
    description: Maintenance of the city reference data.
  - name: Admin Categories
    x-displayName: Categories
    description: Maintenance of the category reference data.
x-tagGroups:
  - name: Public
    tags:
      - Public Events
      - Public Occurrences
      - Public Ticket Categories
      - Public Sale Phases
      - Public Organizers
      - Public Cities
      - Public Categories
  - name: Onboarding
    tags:
      - Onboarding
  - name: Me
    tags:
      - My Profile
      - My Tickets
      - My Orders
      - My Organizer Applications
      - My Organizers
  - name: Organizer
    tags:
      - Organizer Roles
      - Organizer Members
      - Organizer Events
      - Organizer Occurrences
      - Organizer Ticket Categories
      - Organizer Sale Phases
  - name: Admin
    tags:
      - Admin Users
      - Admin Organizer Applications
      - Admin Organizers
      - Admin Cities
      - Admin Categories
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
paths:
  # Onboarding
  /onboarding:
    $ref: ./paths/onboarding.yaml
  # Public
  /public/cities:
    $ref: ./paths/public_cities.yaml
  /public/categories:
    $ref: ./paths/public_categories.yaml
  /public/organizers:
    $ref: ./paths/public_organizers.yaml
  /public/organizers/{organizerSlug}:
    $ref: ./paths/public_organizers_{organizerSlug}.yaml
  /public/events:
    $ref: ./paths/public_events.yaml
  /public/events/featured:
    $ref: ./paths/public_events_featured.yaml
  /public/events/upcoming:
    $ref: ./paths/public_events_upcoming.yaml
  /public/events/{eventSlug}:
    $ref: ./paths/public_events_{eventSlug}.yaml
  /public/events/{eventSlug}/occurrences:
    $ref: ./paths/public_events_{eventSlug}_occurrences.yaml
  /public/events/{eventSlug}/related:
    $ref: ./paths/public_events_{eventSlug}_related.yaml
  /public/occurrences/{occurrenceId}/ticket-categories:
    $ref: ./paths/public_occurrences_{occurrenceId}_ticket-categories.yaml
  /public/occurrences/{occurrenceId}/sale-phases:
    $ref: ./paths/public_occurrences_{occurrenceId}_sale-phases.yaml
  # Me (authenticated user)
  /me:
    $ref: ./paths/me.yaml
  /me/organizers:
    $ref: ./paths/me_organizers.yaml
  /me/tickets:
    $ref: ./paths/me_tickets.yaml
  /me/tickets/{ticketId}:
    $ref: ./paths/me_tickets_{ticketId}.yaml
  /me/orders:
    $ref: ./paths/me_orders.yaml
  /me/orders/{orderId}:
    $ref: ./paths/me_orders_{orderId}.yaml
  /me/organizer-applications:
    $ref: ./paths/me_organizer-applications.yaml
  /me/organizer-applications/{organizerApplicationId}:
    $ref: ./paths/me_organizer-applications_{organizerApplicationId}.yaml
  /me/organizer-applications/{organizerApplicationId}/resubmit:
    $ref: ./paths/me_organizer-applications_{organizerApplicationId}_resubmit.yaml
  # Organizer
  /org/organizer:
    $ref: ./paths/org_organizer.yaml
  /org/organizer-applications:
    $ref: ./paths/org_organizer-applications.yaml
  /org/roles:
    $ref: ./paths/org_roles.yaml
  /org/roles/{roleId}:
    $ref: ./paths/org_roles_{roleId}.yaml
  /org/members:
    $ref: ./paths/org_members.yaml
  /org/members/{userId}:
    $ref: ./paths/org_members_{userId}.yaml
  /org/events:
    $ref: ./paths/org_events.yaml
  /org/events/{eventId}:
    $ref: ./paths/org_events_{eventId}.yaml
  /org/events/{eventId}/publish:
    $ref: ./paths/org_events_{eventId}_publish.yaml
  /org/events/{eventId}/close:
    $ref: ./paths/org_events_{eventId}_close.yaml
  /org/events/{eventId}/occurrences:
    $ref: ./paths/org_events_{eventId}_occurrences.yaml
  /org/occurrences/{occurrenceId}:
    $ref: ./paths/org_occurrences_{occurrenceId}.yaml
  /org/occurrences/{occurrenceId}/cancel:
    $ref: ./paths/org_occurrences_{occurrenceId}_cancel.yaml
  /org/occurrences/{occurrenceId}/postpone:
    $ref: ./paths/org_occurrences_{occurrenceId}_postpone.yaml
  /org/occurrences/{occurrenceId}/reschedule:
    $ref: ./paths/org_occurrences_{occurrenceId}_reschedule.yaml
  /org/occurrences/{occurrenceId}/ticket-categories:
    $ref: ./paths/org_occurrences_{occurrenceId}_ticket-categories.yaml
  /org/ticket-categories/{ticketCategoryId}:
    $ref: ./paths/org_ticket-categories_{ticketCategoryId}.yaml
  /org/occurrences/{occurrenceId}/sale-phases:
    $ref: ./paths/org_occurrences_{occurrenceId}_sale-phases.yaml
  /org/sale-phases/{salePhaseId}:
    $ref: ./paths/org_sale-phases_{salePhaseId}.yaml
  /org/sale-phases/{salePhaseId}/start:
    $ref: ./paths/org_sale-phases_{salePhaseId}_start.yaml
  /org/sale-phases/{salePhaseId}/suspend:
    $ref: ./paths/org_sale-phases_{salePhaseId}_suspend.yaml
  /org/sale-phases/{salePhaseId}/end:
    $ref: ./paths/org_sale-phases_{salePhaseId}_end.yaml
  /org/sale-phases/{salePhaseId}/cancel:
    $ref: ./paths/org_sale-phases_{salePhaseId}_cancel.yaml
  # Admin
  /admin/users:
    $ref: ./paths/admin_users.yaml
  /admin/organizer-applications:
    $ref: ./paths/admin_organizer-applications.yaml
  /admin/organizer-applications/{organizerApplicationId}/approve:
    $ref: ./paths/admin_organizer-applications_{organizerApplicationId}_approve.yaml
  /admin/organizer-applications/{organizerApplicationId}/request-changes:
    $ref: ./paths/admin_organizer-applications_{organizerApplicationId}_request-changes.yaml
  /admin/organizer-applications/{organizerApplicationId}/reject:
    $ref: ./paths/admin_organizer-applications_{organizerApplicationId}_reject.yaml
  /admin/organizers:
    $ref: ./paths/admin_organizers.yaml
  /admin/organizers/{organizerId}/suspend:
    $ref: ./paths/admin_organizers_{organizerId}_suspend.yaml
  /admin/organizers/{organizerId}/activate:
    $ref: ./paths/admin_organizers_{organizerId}_activate.yaml
  /admin/cities:
    $ref: ./paths/admin_cities.yaml
  /admin/cities/{cityCode}:
    $ref: ./paths/admin_cities_{cityCode}.yaml
  /admin/cities/{cityCode}/deactivate:
    $ref: ./paths/admin_cities_{cityCode}_deactivate.yaml
  /admin/cities/{cityCode}/activate:
    $ref: ./paths/admin_cities_{cityCode}_activate.yaml
  /admin/categories:
    $ref: ./paths/admin_categories.yaml
  /admin/categories/{categoryId}:
    $ref: ./paths/admin_categories_{categoryId}.yaml
  /admin/categories/{categoryId}/deactivate:
    $ref: ./paths/admin_categories_{categoryId}_deactivate.yaml
  /admin/categories/{categoryId}/activate:
    $ref: ./paths/admin_categories_{categoryId}_activate.yaml
